POSTGRES_USER=airflow
POSTGRES_PASSWORD=
POSTGRES_DB=airflow

AIRFLOW_FERNET_KEY=
AIRFLOW_SECRET_KEY=
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_EMAIL=
AIRFLOW_ADMIN_PASSWORD=

GITHUB_TOKEN=

SNOWFLAKE_USER=
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=BRONZE
SNOWFLAKE_PRIVATE_KEY_PATH=/usr/local/airflow/include/secrets/snowflake_rsa_key.p8
SNOWFLAKE_PRIVATE_KEY_PASSPHRASE=
