.git
.env
.env.*
!.env.example
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
.astro/standalone/
.astro/worktrees/
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.astro/*.local.yml
.astro/*.local.yaml
.astro/config.yaml.lock
.astro/test_dag_integrity_default.py

**/.astro/dbt_metadata.json
**/.astro/manifest.slim.json
secrets/
include/secrets/
*.p8
*.pem
*.key
*.bak
*.pyc
logs/
target/
dbt_packages/
.marscode/
